<div class="small-12 columns devise-page-container">
  <div class="small-12 large-6 columns form-container center-block">
    <div class="form-title-container">
      <h2 class="text-center">Sign up</h2>
    </div>
    <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "coder-form"}) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field">
        <div class="small-12 columns">
          <%= f.text_field :name, placeholder: "Name" %>
        </div>
      </div>
    
      <div class="field">
        <div class="small-12 columns">
          <%= f.email_field :email, placeholder: "Email" %>
        </div>
      </div>
    
      <div class="field">
        <div class="small-12 large-6 columns">
          <%= f.password_field :password, autocomplete: "off" , placeholder: "Password (#{@minimum_password_length || 6} characters minimum)"%>
        </div>
        <div class="small-12 large-6 columns">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password" %>
        </div>
      </div>
    
      <div class="small-12 columns actions">
        <%= f.submit "Sign up", class: "submit-btn" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
  </div>  
</div>